.listContent {
  padding: 100px;
  width: 1000px;
  h1 {
    width: 100%;
    text-align: center;
  }
  .editBox {
    display: flex;
    align-items: center;
    Input {
  
  

      width: 600px;
    }
    .opt {
      position: relative;
      left: 80px;
    }
  }
  .opt {
    color: #6280f5;
    float: right;
    cursor: pointer;
  }
  .delete {
    color: #2f3336;
    padding-right: 10px;
  }
}
